﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Centered.Master" AutoEventWireup="true" CodeBehind="Delete.aspx.cs" Inherits="AirtimeBilling.Web.I.Maintenance.Network.Delete" %>
<asp:Content ID="Content1" ContentPlaceHolderID="BodyContent" runat="server">
</asp:Content>
