﻿.AspNet-GridView
{
    padding: 15px 10px;
}

.Grid, .GridNoHover
{   
   background-color: #FFF;   
   border: solid 1px #e0e0e0;   
   width: 100%;        
}

.Grid td, .GridNoHover td
{
    padding: 6px 3px;
    margin: 6px 3px;
    color: #000;
    border: solid 1px #e0e0e0;              
}

.Grid th, .GridNoHover th
{
    padding: 0px 2px 0 2px;
    margin: 0px 2px 0 2px;
    color: #fff;
    background: Gray;
    text-align:left;	
	font-weight:bold;
	font-size: 0.9em;
	height: 30px;
}

.Grid .alt, .GridNoHover .alt { background:#fafafa url(/images/templates/module/grid_alt.png) repeat-x top; } 
.Grid .pgr, .GridNoHover .pgr { background: #424242; }
.Grid .pgr table, .GridNoHover .pgr table { margin: 5px 0; }
.Grid .pgr td, .GridNoHover .pgr td 
{
    border-width: 0;
    padding: 0 6px;
    margin: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;    
}

.Grid .pgr a .GridNoHover .pgr a { color: #000; text-decoration: none; }
.Grid .pgr a:hover, .GridNoHover .pgr a:hover { color: #666; text-decoration: none; }

.Grid .edit, .GridNoHover .edit
{
    width: 10px;    
    padding: 2px;
    color: #717171; 
}

.Grid .editview, .GridNoHover .editview
{
    width: 40px;    
    padding: 2px;
    color: #717171;    
}

.Grid tr:hover
{
    background:#99C8FF;
}

.Grid .rowhover
{
    cursor: pointer;
}

.Grid tr.Footer, .GridNoHover tr.Footer
{
    
}
.Grid tr.Footer:hover, 
{
    background:#fafafa
}