﻿/* FORM STYLES */

table.form 
{
	table-layout:fixed; /* force a solid grid */
	border-collapse:collapse;
	margin: 0;
}
table.form th, table.form td {
	white-space:nowrap; /* don't want wrapping text */
	padding:2px 15px 3px 5px; /* right padding for required field marker */
	font-weight:normal;
}

table.form th, th.field{
	padding:2px 0 2px 5px;
	text-align:right;
	width:120px;
	font-weight:normal;
}
table.form th
{
	width:100px;
	padding: 1px 5px;
	margin: 0 3px 0px 0;		
	/*height: 25px;	*/
	vertical-align: middle;
}	

table.log td, table.log th
{
    margin: 7px 0px;    
    padding: 7px 0px;
    text-align:left;
    border-top: solid 1px #e0e0e0;
}

table.log td
{
    white-space: pre-line;    
}

table.log th { vertical-align: top; }

td.required, tr.required td {
	background:url("../req.gif") center right no-repeat;
}

table.form td.field input, td.form input,td.form select{
	width:100%; /* simply scale inputs to table cell size */
}
table.form select 
{
	width:100%;
}
table.Grid th 
{
    height: 30px;
}
table.form td.input-group input {
	width:auto; /* but not for radios or checks */ 
}
td.form
{
	white-space:nowrap; /* don't want wrapping text */
	padding:2px 20px 3px 0px; /* right padding for required field marker */
	font-weight:normal;
}
td.disabled input
{
	background-color:#ddd;
}
table.form td.field input {
	width:200px; /* but not for radios or checks */ 
}
/* Groups related functionality */
div.Form fieldset, div.Form .fieldset
{			
	display:inline;	
	float:left;
	width: 420px;		
	padding: 5px 5px;   /* needed for IE. */
	margin: 10px 0px;
}

div.Form fieldset.full, div.Form .fieldset.full
{		    
	display: block;
	width: 850px;	
}
div.Form fieldset.single, div.Form .fieldset.single
{    
    padding-left: 10px;
	display: block;
	width: 400px;
}

div.Form fieldset
{    
    border-color: #e0e0e0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.Form .fieldset .legend
{
    background: #d0d0d0;
    color: black;
    width: 100%;
    padding: 3px 0px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

div.Form fieldset.full
{
	width:865px;
	float:none;
}
div.Form fieldset.single
{
}

/* Full column data entry text box */
.EntryBox
{
	width:290px;
}
div.Form { clear:both }

div.Form fieldset legend {
	vertical-align: middle;					
	color: #FF6600;
	font-weight: bold;
}
div.Form div.SingleRow
{
	float:left;		
	padding: 3px 3px 3px 0;	
}	
div.Form div.Required, div.Form div.Optional
{
	clear:both;
	display:block;		
}
div.Form label
{ 	
	text-align: right;
}
div.Form div.Required *, div.Form div.Optional *
{
    vertical-align: middle;
}

div.Form div label
{    
	color: #666666;
 	float:left; 
	width:100px;
	padding: 2px 5px;
	margin: 0 3px 0px 0;		
	height: 25px;	
	/*background: #f0f0f0;*/
	vertical-align: middle;
}

div.Form div span
{
	float:left; 
	padding: 1px 5px;
	margin: 0 0 1px 0;	
}

div.Form div span[id~="rfv"]
{
    float: none;
}


div.Form div.Row
{
	clear:both;
	width: 100%;
}
#NewNetworkTariff
{
    width: 100%;
}
#NewNetworkTariff div
{
    float: left;
}
#NewNetworkTariff div label
{
    text-align:left;
	background-color:#FF9900;
	font-weight:bold;
	color: White;	
	padding: 8px 2px 8px 2px;	
	margin-bottom: 2px;
	display: block;
}

.left { float: left; }
.right { float: right }
.clear { clear: both; }

table.MessageContainer { width: 80%; margin: auto; margin-bottom: 10px; margin-top: 10px; height: 70px; }
table.MessageContainer .Buttons { text-align: center; padding-top: 20px; margin-left: -70px; }
table.MessageContainer .Buttons input { border: none; }

.MessageContainer tr td.Message {				
	font-weight: bold;	
	font-size: 1.1em;
	padding: 10px;			
	padding-left: 70px;
	vertical-align: middle;
	display:table-cell;
}

.MessageContainer.Success tr td.Message
{	
	color: #57a710 ;	
	border: 1px solid #9fd845;	
	background: url(/images/icons/good-icon.png) no-repeat 5px 10px #f5fbec;
}

.MessageContainer.Warning tr td.Message
{
	color: #ff591f;	
	border: 1px solid #ff983e;
	background: url(/images/icons/caution-icon.png) no-repeat 5px 10px #fff4eb;	
}

.MessageContainer.Failure tr td.Message
{	
	color: #d03c3c;	
	border: 1px solid #d03c3c;
	background: url(/images/icons/error-icon.png) no-repeat 5px 10px #faebeb;	
}

.MessageContainer.Information tr td.Message
{	
	color: #4F7BFF;	
	border: 1px solid #7799FF;
	background: url(/images/icons/info-icon.png) no-repeat 5px 10px #EDF1FF;	
}

.MessageContainer.Tip tr td.Message 
{
    background: #E6F7FF url(/images/icons/info-icon-small.png) no-repeat 5px 10px;
    border: 1px solid #BFE4FF;
    padding: 5px 10px 5px 40px;
    margin: 10px 5px 20px 5px;
    color: #000000;
    font-weight: normal;
}

div.Form fieldset.hidden
{
    float:none;
    border:none;
    margin:0;    
    width: auto;
}

div.ValidationSummary { width: 400px; margin: auto; margin-bottom: 20px; margin-top: 20px; }
div.ValidationSummary { font-weight: bold;	font-size: 1.1em; padding: 10px; padding-left: 70px; }
div.ValidationSummary { border: 1px solid #d03c3c; background: url(/images/icons/error-icon.png) no-repeat 5px 10px #faebeb; }

div.fieldset .heading { padding: 0px; }
div.fieldset .heading h2 { font-weight: bold; margin-top: 10px; margin-bottom: 0px; font-size: 14px; }
div.fieldset .heading hr { margin: 0 0 10px 0; border-color: Gray; }

.Required.Wide label
{
    width: 200px;
}
