﻿
/*
=================================================================================
STICKY FOOTER & SITE FRAME LAYOUT 
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

<div id="container">
	<div id="header"></div>
	<div id="body"></div>
	<div id="footer"></div>
</div>
=================================================================================
*/

html, body 
{
	margin:0;
	padding:0;	
	height: 100%;
	font-family: Arial, Verdana, Helvetica, sans-serif;	
	color: #666666;
	text-align: justify;		
	font-size: 12px;
}

#container
{
	min-height:100%;		
	height: auto !important;
	height: 100%;		
}

#header
{	
	padding: 0 10px 0 0px;	
	background: #000;		
	display: block;
	border-bottom: 1px solid black;
	height: 30px;
}


#right
{    
    width: 100%;
}
#maincontentwrapper
{
    padding-left: 200px;
    padding-right: 20px;    
    
}
#maincontent
{    
    min-height: 600px;
    margin-top: 60px;
}

#boundary
{		
	padding-bottom:10px; /* Height of the footer */			
}
#boundary
{
	width: 860px;	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #FFF;			
}

.formcontent
{    
    padding: 0px 0px 10px 0px;    
}
#clearfooter
{
    height: 25px;
    clear: both;
}
#footer
{
    display:none;
	height:25px;
	clear:both;	
	position:fixed;	
	bottom: 0px;
	width:100%;	
	border-top: dotted 1px #ddd;	
	border-bottom: solid 1px #ddd;	
	background-color: #efefef;
	z-index: 1000;	
}
#footer table td { padding-right: 5px; padding-left: 5px; } 
#footer table td.alignright { text-align: right; }
#footer table td.alignleft { text-align: left; }

#container {
   height:100%;
}


/* MENU */
#menu
{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;			
	font-family: Arial, Helvetica, sans-serif;		
}
#menu li
{	
	padding:0;
	margin:0;
	width: 135px;
}
#menu li ul li
{
    float: none;
}

#menu > li a
{
	text-decoration:none;	
	padding: 10px 15px;
	display:block;
	color:#808080;
	font-size: 1.4em;
}

#menu li ul 
{	        
	padding: 0;	
	margin: 0;	
	color: #fff;	
}

#menu li:hover ul { display:block; z-index: 999; }
#menu li ul li { padding: 0 15px 3px 20px;  } /*--Since we declared a link style on the parent list link, we will correct it back to its original state--*/
#menu li ul li:hover { background: #d0d0d0; }
#menu li ul li a { font-size: 1.2em; }

#topstatusbar { float: right; position: absolute; top: 5px; right: 5px; color: #fff;}

#guiMenu 
{    
    top: 150px;
    height: 300px;   
}

.menuItem
{
    display: block;        
    min-height: 64px;
    vertical-align: middle;    
    border: 1px solid #FFFFFF;
    cursor: auto;
    margin:5px;
}
.menuItemHighlight
{	
	display: block;        
    min-height: 64px;
    vertical-align: middle;     
	border-color:#D0D0D0;
	border-width:1px;
	border-style:solid;	
	cursor:pointer;	
	margin:5px;
	background: #E0E0E0;	
}