a          { color: #666666; text-decoration : none; }
a:visited  { color: #666666; text-decoration : none; }
a:Active   { color: #666666; text-decoration : none; }
a:Hover    { color: #FF9900; text-decoration : underline; cursor : pointer; }
	 
	
.Overview A          { color: #666666; font-size: 13px; text-decoration : bold; }
.Overview A:visited  { color: #666666; font-size: 13px; text-decoration : bold; }
.Overview A:Active  { color: #666666; font-size: 13px; text-decoration : bold; }
.Overview A:Hover    { color: #666666; font-size: 13px; text-decoration : underline; }

.productlink {	
	font-size: 11px;
	color: #666666;
	font-style: normal;
	font-weight: bold;
}
.productlink           { color: #FF9900; font-size: 11px; text-decoration : bold; }
.productlink A:visited  { color: #666666; font-size: 11px;text-decoration : bold; }
.productlink A:Active  { color: #FF9900; font-size: 11px; text-decoration : bold; }
.productlink A:Hover    { color: #FF9900; font-size: 11px;text-decoration : bold; }
