﻿body, html { background: #FFFFFF; }

table
{    
    border:none;
    border-collapse: collapse;
    float:left;
    text-align: left;
    width:100%;
    height:100%;
}
#loginForm
{
    height: auto;
    width: 200px;
    margin: 0px auto;
}
.Login 
{	        
	margin:0px auto;	
	background: url('/images/login_bg.jpg') no-repeat;
	height: 400px;
	padding: 12px 0px 0px;
	width: 390px;	
}            

.Login .Title
{
    
    min-height: 70px;
}

.Login input[type="text"], .Login input[type="password"] 
{
    font-size: 1.5em;
    color: #606060;
    width: 200px;
}
.loginButton
{
    border: 1px solid #808080;
    cursor: pointer;
    margin: 20px 0px 0px;
    padding: 4px 10px;
    width: 200px;
    text-transform:uppercase;
    text-decoration: none;
    color: #606060;
    background: url('/images/button_bg.jpg');
}

.loginButton:hover
{
    background: white;
}

.loginHeading
{
    padding: 20px 0px 1px 2px;
    text-transform: uppercase;
}