input[type="text"], select
{
    border: 1px solid #b0b0b0;
    padding: 3px;
}

img 
{
    border: 0;
}

h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #33CCCC;
	text-align: center;
	color: #666666;
}

.bodybold
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: justify;
	margin-right: 8px;
}
.bodytablecontact 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;	
}
.bodytable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: center;
	
}
.bodytable2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: right;
	
}
.h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: justify;
	margin-right: 8px;
	font-weight: bold;
}
.h4,h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF9900;
	text-align: justify;
	margin-top: 10px;
	margin-right: 8px;
	font-weight: bold;
	display: block;
}


.boldsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: justify;
	margin-right: 8px;
	font-weight: bold;
}

hr 
{
    border: 0;
    border-bottom: 3px solid Green;
    margin-bottom: 10px;
}

.h1, h1 {
	font-size: 16px;	
	margin-top: 10px;	
	margin-bottom: 15px;			
	width: 100%;
	text-align: left;	
}
.h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-right: 30px;
	color: #FF9900;
	text-align: justify;
	font-weight: bold;
	right: 33px;
}
	
.bold {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF9900;
	
}
.boldNames {
	font-size: 12px;
	font-weight: bold;
}

.leftNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	margin-left:5;
}

.leftNavbold {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	margin-left:12;
	
}
.bullet {
	list-style-type: circle;	
}
.notile {
	background-image: url(../images/backdrop_stripe.jpg);
	background-repeat: no-repeat;
}
.horiztileonly {
	background-image: url(images/backdrop_stripe.jpg);
	background-repeat: repeat-x;
}
#divider
{
    clear: both;
	height: 15px;
	background-image: url(../images/orange_stretch1.gif);
	background-repeat: repeat-x;
	margin-bottom: 0px;
	width:100%;
}
.SectionHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF3300;
	text-align: justify;
	margin-top: 0px;
	margin-right: 8px;
	font-weight: bold;
	display: block;
}
.Terms
{
    clear:both;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.rowheader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: justify;	
	width: 100px;
	height: 25px;
}
.rowheader2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: justify;	
	margin-top:5px;
	width: 100px;
	height: 20px;
}
.emptyDataTemplate
{
	padding-top: 20px;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;		
	height: 25px;
}
.validation
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: red;
	text-align: justify;
	margin-right: 8px;
}
.RowSplitter
{	
	clear: both;
}
.ErrorMessage
{
	color: Red;
}
.Login
{	
	margin:auto;
	margin-top: 175px;	
	width:300px
}
.StandardButton
{
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
}
.modalBackground
{
	background-color: #e0e0e0;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.UserMenu
{
	margin: 20px auto 80px auto;
	padding: 10px 10px 20px 10px;
	border-top: dashed 1px #666666;
	border-bottom: dashed 1px #666666;		
	width: 200px;	
	list-style-type: none;
	list-style-position: inside;	
	
}
.UserMenu li a
{
	display: block;
	padding: .4em;
	margin-top: 1px;
	margin-bottom: 1px;
	text-decoration: none;	
}
.UserMenu li a:hover
{
	display: block;
	padding: .4em;	
	text-decoration: underline;		
}

.invoicePopup
{
	width: 300px;
	height: 200px;	
	background-color: #FFFFFF; 
	margin: 8px;
	border: solid 1px black;
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.icon
{
	margin-left:0px;
	margin-right:0px;
	padding-bottom:0px;
	vertical-align:middle;
}
.ReportButton
{
	margin-right: 10px;
}
.ReportViewer
{
	border: solid 1px black;	
}
.CalIcon
{
	margin: 0;
	padding: 0;
	height: 20px;
	width: 20px;
}
.OptionGroup
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;	
	clear:both;
	width:50px;
}
.ImageOption
{
	padding: 0;
	margin: 0;	
	border:0;
}
/*****************************************
*** Modal Search Styles
*****************************************/
.ModalPopup
{	
	/* width:500px; */
	/* height: 120px; */
    background: #FFFFFF;                    
    padding: 10px;                  
    border: 1px solid #888;
    -moz-box-shadow: 0 0 10px 5px #888;
    -webkit-box-shadow: 0 0 10px 5px #888;
    box-shadow: 0 0 10px 5px #888;                                
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
			
}

.ModalPopup table 
{
    vertical-align: middle;
    height: 90px;
    width: 100%;
}
    
.ModalPopup tr td.Message
{
    padding-left: 75px;
}    
    
.ModalPopup.Information tr td.Message
{    
    background: url(/images/icons/info-icon.png) no-repeat 20px 30px #f5fbec;    
}

.ModalPopup.Success tr td.Message
{    
    background: url(/images/icons/good-icon.png) no-repeat 20px 30px #f5fbec;
}

.ModalPopup.Failure tr td.Message
{    
    background: url(/images/icons/error-icon.png) no-repeat 20px 30px #f5fbec;
}

.ModalPopup.Caution tr td.Message
{    
    background: url(/images/icons/caution-icon.png) no-repeat 20px 30px #f5fbec;
}

.searchCriteria
{	
	padding-left: 70px;
	background: #FFFFFF url(/images/icons/search-user.png) no-repeat 0px 10px;
	margin: 5px 0;
	min-height: 60px;
}

/*****************************************
*** UpdateProgress Styling
*****************************************/
.SearchUpdateProgress
{
	position:absolute;
	left:450px;
	top:5px;
}

.button
{
	background-color:#EFF8FF;
	font-size:9pt;
	color:#0066cb;
	border: solid 1px #B7CFFF;
	text-decoration:underline;
	clear:right;	
}

.button:hover
{	
	background-color:#BEF8FF;
	font-size:9pt;
	color:#0066cb;
	border: solid 1px #B7CFFF;
	text-decoration:underline;
	clear:right;
}
/* submenu should contain menubuttons */
.submenu
{    
    padding: 2px 10px 2px 10px;
    /* background: url('/images/Modules/BigButtonBGDark.png') repeat-x; */
    height: 23px;
    border-top: 1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    margin-bottom: 10px;
}

.submenu.background
{
    background: url('/images/Modules/BigButtonBGDark.png') repeat-x;
}

#ApproveInvoice, #pnlInvoicingApproval
{
    text-align: center;
    margin-top: 20px;
}
.information
{ 
    background-image: url(../images/icons/caution-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
    padding: 5px 5px 5px 60px;	
    margin: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	min-height: 60px;
	color: #666666;		
}
.information > span
{
    vertical-align: middle;
}
#thankyou
{
    padding: 50px 10px 10px 10px    
}
#banner
{
    display: none;
}
.crudbar
{    
    position: absolute;
    text-align: center;
    padding:15px 0px 5px 0px;
    bottom: 0px;
    width: 100%;
}
.crudbarfloat
{
    clear:both;	    
    text-align: center;
    padding:15px 0px 5px 0px;    
    width: 100%;
}

.verticalcenter * 
{
	vertical-align: middle;
}
.warning
{
    background: #FBFFC1;
    border: solid 1px #E9FF23;
    padding: 10px;
    margin: 10px auto 10px auto;
    width: 450px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 4px 4px 5px #808080; 
	-webkit-box-shadow: 4px 4px 5px #808080;
	box-shadow: 4px 4px 5px #808080;
	
}

#centeredContent
{    
    width: 600px;
    margin: auto;
    margin-top: 150px;  
    background: white; 
}

#guiMenu 
{    
    font-size: 1.2em;    
    line-height: 18px;   
    padding: 20px;    
    text-align: left;
    width: 400px;
    display: inline-block;
}
#rightGuiMenu
{
    background-color: #FF9900;
    color: #FFFFFF;
    width: 150px;
    vertical-align: top;
}

#rightGuiMenu h2
{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 10px;    
    text-align: center;
}

.menuItem
{
    display: block;        
    min-height: 64px;
    vertical-align: middle;    
    border: 1px solid #FFFFFF;
    cursor: auto;
    margin:5px;
}
.menuItemHighlight
{	
	display: block;        
    min-height: 64px;
    vertical-align: middle;     
	border-color:#D0D0D0;
	border-width:1px;
	border-style:solid;	
	cursor:pointer;	
	margin:5px;
	background: #E0E0E0;	
}
#selectAccount
{
    background: url(/images/icons/call-user.png) no-repeat 5px 10px #FFFFFF;	
    padding-left: 60px;
    padding-right: 10px;
}

#selectMasterAccount
{
    background: url(/images/icons/master-account.png) no-repeat 5px 10px #FFFFFF;	
    padding-left: 60px;
    padding-right: 10px;
}


.submenu img
{
    border: 0px;
    height: 20px;   
}

.searchPanel
{
    margin: 5px 10px;
    background: #FFFFFF url('/images/icons/folder_search.png') no-repeat 10px 0px;
    padding-left: 70px;    
    width: auto;
}

.searchPanel * 
{
    vertical-align: middle;
}

.searchPanel input[type=text]
{
    width: 300px;
}

.searchCriteria table, .searchPanel table
{    
    height: 60px;
}

.searchCriteria td, .searchPanel td
{
    vertical-align: middle;
}

.siteheading
{ 
    font-family: Calibri;
    font-weight: bold;
    font-size: 20pt;   
    display:inline;     
    margin: auto auto 20px 20px;
}

table.companyInfo td.fieldname 
{
    width: 120px;      
}
.Note
{
    padding: 0 20px;
}

.tasks
{
    margin: 10px auto;
    border: 1px #e0e0e0 solid;
    width: 400px;
    padding-bottom: 20px;
}

.tasks h4
{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.tasks li, .tasks li a, .tasks li a:hover
{
    font-size: 1.2em;
}

.creditCardProcessingPopup
{
	width: 500px;
	height: 200px;	
	background-color: #FFFFFF; 
	margin: 8px;
	border: solid 1px black;
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.importText
{
    font-size: 1.2em;
    padding: 10px;
}

input[type=file]
{
    border: 1px solid #e0e0e0;
    width: 95%;
    padding: 5px;
    font-style: italic;
}

.updateProgress
{
    margin: 5px; 
    border: 1px solid #e0e0e0;   
    padding: 5px;
    background: #FFFFFF;
    width: 100px;
    height: 100px;
    margin-top: -100px;
    margin-left: -50px;
    
}


#invoicegrid  td 
{
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
}

.info
{
    background: #F4FBFE url(/images/icons/info-icon-small.png) no-repeat 10px 20px;
    border: 1px solid #BFE4FF;
    padding: 5px 10px 5px 40px;
    margin: 30px 5px 20px 5px;
    color: #000000;
}

span.tip, div.Form span.tip 
{
    color: #808080;
    padding-left: 5px 0 0 5px;
    margin-top:5px;
    float: none;
}

div.Form span a 
{
    color: #FF9900;
    text-decoration:underline;
}

.othertabs
{
    margin-left: 10px; margin-right:10px;
}

.fieldset.module .heading hr { margin-bottom: 0; }
.module .main { background: #f0f0f0; border: 1px solid #c0c0c0; margin-top: 0px; padding: 10px; }

input[type="text"].Money
{
    background-image: url(/images/icons/money_add.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;   
    width: 80px;     
}

.tasks .calldatacheck 
{    
    background: url(/images/icons/warning-icon-sml.png) no-repeat 0 0 transparent;
    height: 30px; 
    padding-left: 30px;
    margin: auto;
    width: 220px;
}

a.BigButton
{    
    width: 60px;
    color: #FFF;
    background: Purple;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-transform: uppercase;
}
a.BigButton:hover
{
    color: #fff;
    text-decoration: none;
    background: Gray;
}
